@use 'vars' as *;

*{
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: $font-base;
	font-weight: normal;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}
.wrapper{
	
}

.inner{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5%;
}

section{
	padding: 5vw 0;
}
