@use 'vars' as *;

.todo-search{
	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		dl{
			width: 45%;
			margin-top: 1.5em;
		}
		dt{
			margin-bottom: 0.5em;
		}
	}
}

.sec-todo-app{
	background: #F5F0E8;
	.inner{
		max-width: 860px;
	}
}
//Todo Heading
.todo-heading{
	@include flex(between, start);
	&__left{
		font-size: 24px;
		font-weight: 700;
		span{
			color: #993C1D;
		}
	}
	&__date{
		font-size: 22px;
		font-weight: 500;
		color: #2C2C2A;
		margin-top: 2px;
		text-transform: capitalize;
	}
	&__greeting{
		font-size: 13px;
		color: #888780;
	}
	&__right{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #D85A30;
		@include flex(center, center);
		font-size: 14px;
		font-weight: 500;
		color: #FAECE7;
	}
}

//Todo Dashboard
.todo-dashboard{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	margin-bottom: 1.25rem;
	&__item{
		background: #EDE6D6;
		border-radius: 10px;
		padding: 12px 14px;
		cursor: pointer;
		&-ttl{
			font-size: 12px;
			color: #888780;
			text-transform: uppercase;
			letter-spacing: 0.6px;
		}
		&-num{
			font-size: 25px;
			font-weight: 500;
			color: #2C2C2A;
			margin-top: 4px;
		}

		&--secondary{
			background: #D85A30;
			color: #FAECE7;
			.todo-dashboard__item-ttl{
				color: #FAECE7;
			}
			.todo-dashboard__item-num{
				color: #FAECE7;
			}
		}
		&--danger{
			.todo-dashboard__item-num{
				color: #971919;
			}
		}
	}
}

//Todo Wrapper
.todo-wrapper{
	display: grid;
    grid-template-columns: 300px 1fr;
    gap: 15px;
	&__left{
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__right{
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

//todo modules
.todo-panel{
	background: #EDE6D6;
    border-radius: 12px;
    padding: 14px;
}

.date-panel{
	&__label{
		font-size: 11px;
		font-weight: 500;
		color: #888780;
		text-transform: uppercase;
		letter-spacing: 0.7px;
		margin-bottom: 10px;
	}
	&__big{
		font-size: 28px;
		font-weight: 500;
		color: #2C2C2A;
		line-height: 1.1;
		text-transform: capitalize;
	}
	&__sub{
		font-size: 13px;
		color: #888780;
		margin-top: 4px;
		font-style: italic;
		text-transform: capitalize;
	}
}


.todo-form{
	&__ttl{
		
	}
	&__field{
		margin-bottom: 1em;
		&--flex{
			@include flex(between, center);
			gap: 0 10px;
		}
	}
	&__date{
		.ant-space{
			width: 100%;
		}
		.form-control{
			padding: 0 15px;
		}
	}
}


//Todo List
.todo-list{
	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


.empty{
	max-width: 350px;
	margin: 0 auto;
}


.result{
	display: block;
	color: red;
	max-width: 350px;
	margin: 0 auto 30px;
}

.todo-result{
	&__item{
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px 12px;
		background: #EDE6D6;
		border-radius: 0 10px 10px 0;
		margin-bottom: 10px;
		&:last-of-type{
			margin-bottom: 0;
		}
		&.expired{
			border-left: 3px solid red;
		}
		&.issue-today{
			border-left: 3px solid orange;
		}
		&.upcoming{
			border-left: 3px solid #1677ff;
		}
		&.normal{
			border-left: 3px solid #52c41a;
		}
	}
	&__checkbox{
		width: 16px;
		height: 16px;
		appearance: auto;
		cursor: pointer;
	}
	&__name{
		flex: 1;
		font-size: 14px;
		color: #2C2C2A;
		min-width: 0;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		padding-left: 25px;
		&::before{
			content: '';
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translateY(-50%);
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: green;
		}
		&.high{
			&::before{
				background: red;
			}
		}
		&.medium{
			&::before{
				background: orange;
			}
		}
	}
	&__date{
		font-size: 12px;
		color: #888780;
		white-space: nowrap;
		flex-shrink: 0;
	}
	&__control{
		display: flex;
		justify-content: space-between;
		gap: 0 5px;
		&-btn{
			font-size: 12px;
			padding: 3px 9px;
			border-radius: 6px;
			cursor: pointer;
			outline: 0;
			@include smooth-transition;
			&--edit{
				border: 0.5px solid #5DCAA5;
				background: transparent;
				color: #085041;
				@include hover{
					background: #5DCAA5;
					color: #fff;
				}
			}
			&--delete{
				border: 0.5px solid #F09595;
				background: transparent;
				color: #A32D2D;
				@include hover{
					background: #F09595;
					color: #fff;
				}
			}
		}
	}
}

.ant-tag{
	font-size: 11px;
	margin-right: 0;
}

.completed{
	span{
		color: #ccc;
		text-decoration: line-through;
		color: #ccc;
	}
	button{
		pointer-events: none;
		opacity: 0.7;
	}
}


.priority-high { border-left: 3px solid red; }
.priority-medium { border-left: 3px solid orange; }
.priority-low { border-left: 3px solid green; }


.task-name{
	display: block;
	width: 100%;
	text-align: left;
	margin-left: 7%;
	
}

.due-date{
	margin-right: 5%;
	text-align: right;
	span{
		margin-right: 0;
	}
}